# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# According to pipenv documentation (https://pipenv.pypa.io/en/latest/advanced/#configuration-with-environment-variables), 
# it might not be needed to ignore .venv/ folder. In case of uncertainty, feel free to include it anyway.
# .venv/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Sublime Text #
# Cache files for Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# Workspace files are user-specific
*.sublime-workspace

# Project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using Sublime Text
# *.sublime-project

# Visual Studio Code
.vscode/

# IntelliJ/PyCharm
.idea/
*.iml

# Enthought Canopy
.canopy/

# SageMath
.sage/

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# wxPython
*.wxp

# Node
node_modules/
jspm_packages/

# Qt Creator
*.pro.user
*.pro.user.*

# Spyder
*.spyderproject
*.spyproject

# Rope
.ropeproject

# JetBrains
*.iml
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

.ruff_cache/

trialscripts/

sms_chatbot.db